/* line 1, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font: 11px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f1f1f1));
  background-image: -moz-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: -o-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: linear-gradient(#f4f4f4, #f1f1f1);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  /*background-clip: padding-box;*/
  /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

/* line 32, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.greenbuttons {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  font: 12px/normal sans-serif;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border-color: #32bf00;
  border-bottom-color: #32bf00;
  color: #fff;
  background-color: #32bf00;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32bf00), to(#32bf00));
  background-image: -moz-linear-gradient(#32bf00, #32bf00);
  background-image: -o-linear-gradient(#32bf00, #32bf00);
  background-image: linear-gradient(#32bf00, #32bf00);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  /*background-clip: padding-box;*/
  /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  text-shadow: none;
  text-align: center;
}
/* line 66, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.greenbuttons:hover {
  background-color: #32bf00;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32bf00), to(#32bf00));
  background-image: -moz-linear-gradient(#32bf00, #32bf00);
  background-image: -o-linear-gradient(#32bf00, #32bf00);
  background-image: linear-gradient(#32bf00, #32bf00);
}

/* line 76, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.payment_button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 1em 1.75em;
  width: 180px;
  -webkit-box-shadow: 0px 0px 1px 3px #1a4623;
  box-shadow: 0px 0px 3px 1px #1a4623;
  margin: 10px auto;
  text-decoration: none;
  font: 14px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #32bf00;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  /*background-clip: padding-box;*/
  /* commented out due to Opera 11.10 bug */
  /* IE hacks */
  zoom: 1;
  *display: inline;
}
/* line 105, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.payment_button:hover {
  background-color: #289003;
  box-shadow: 0px 0px 0px 0px #1a4623;
}

/* line 111, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.wide_button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 1em 1.75em;
  width: 180px;
  margin: 10px auto;
  text-decoration: none;
  font: 14px/normal sans-serif;
  color: #000000;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border-color: #32bf00;
  border-bottom-color: #32bf00;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#d1d1d1));
  background-image: -moz-linear-gradient(#efefef, #d1d1d1);
  background-image: -o-linear-gradient(#efefef, #d1d1d1);
  background-image: linear-gradient(#efefef, #d1d1d1);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  /*background-clip: padding-box;*/
  /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}
/* line 141, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.wide_button:hover {
  color: #ffffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32bf00), to(#32bf00));
  background-image: -moz-linear-gradient(#32bf00, #32bf00);
  background-image: -o-linear-gradient(#32bf00, #32bf00);
  background-image: linear-gradient(#32bf00, #32bf00);
}

/* line 150, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.paymentTypeButton {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.8em 1em;
  border: 1px solid #d4d4d4;
  margin: 0 0 10px 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font: 14px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  width: 200px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f1f1f1));
  background-image: -moz-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: -o-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: linear-gradient(#f4f4f4, #f1f1f1);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  /*background-clip: padding-box;*/
  /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}
/* line 180, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.paymentTypeButton:hover {
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#e1e1e1));
  background-image: -moz-linear-gradient(#f1f1f1, #e1e1e1);
  background-image: -o-linear-gradient(#f1f1f1, #e1e1e1);
  background-image: linear-gradient(#f1f1f1, #e1e1e1);
}

/* line 189, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.cashButton {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.8em 1em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font: 14px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f1f1f1));
  background-image: -moz-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: -o-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: linear-gradient(#f4f4f4, #f1f1f1);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  /*background-clip: padding-box;*/
  /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

/* line 223, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons:hover,
.buttons:focus,
.buttons:active,
.buttons.active {
  border-color: #32bf00;
  border-bottom-color: #32bf00;
  text-decoration: none;
  text-shadow: 0px 1px 0 #000;
  color: #fff;
  background-color: #32bf00;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32bf00), to(#32bf00));
  background-image: -moz-linear-gradient(#32bf00, #32bf00);
  background-image: -o-linear-gradient(#32bf00, #32bf00);
  background-image: linear-gradient(#32bf00, #32bf00);
}

/* line 237, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons:active,
.buttons.active {
  border-color: #2a65a0;
  border-bottom-color: #3884CF;
  background-color: #32bf00;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32bf00), to(#32bf00));
  background-image: -moz-linear-gradient(#32bf00, #32bf00);
  background-image: -o-linear-gradient(#32bf00, #32bf00);
  background-image: linear-gradient(#32bf00, #32bf00);
}

/* overrides extra padding on button elements in Firefox */
/* line 248, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* ............................................................................................................. Icons */
/* line 255, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.icon:before {
  content: "";
  position: relative;
  top: 1px;
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 0.75em 0 -0.25em;
  background: url(/assets/css3-github-buttons-icons.png) 0 99px no-repeat;
}

/* line 266, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.arrowup.icon:before {
  background-position: 0 0;
}

/* line 269, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.arrowup.icon:hover:before,
.buttons.arrowup.icon:focus:before,
.buttons.arrowup.icon:active:before {
  background-position: -12px 0;
}

/* line 271, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.arrowdown.icon:before {
  background-position: 0 -12px;
}

/* line 274, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.arrowdown.icon:hover:before,
.buttons.arrowdown.icon:focus:before,
.buttons.arrowdown.icon:active:before {
  background-position: -12px -12px;
}

/* line 276, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.arrowleft.icon:before {
  background-position: 0 -24px;
}

/* line 279, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.arrowleft.icon:hover:before,
.buttons.arrowleft.icon:focus:before,
.buttons.arrowleft.icon:active:before {
  background-position: -12px -24px;
}

/* line 281, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.arrowright.icon:before {
  float: right;
  margin: 0 -0.25em 0 0.5em;
  background-position: 0 -36px;
}

/* line 284, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.arrowright.icon:hover:before,
.buttons.arrowright.icon:focus:before,
.buttons.arrowright.icon:active:before {
  background-position: -12px -36px;
}

/* line 286, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.approve.icon:before {
  background-position: 0 -48px;
}

/* line 289, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.approve.icon:hover:before,
.buttons.approve.icon:focus:before,
.buttons.approve.icon:active:before {
  background-position: -12px -48px;
}

/* line 291, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.add.icon:before {
  background-position: 0 -288px;
}

/* line 294, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.add.icon:hover:before,
.buttons.add.icon:focus:before,
.buttons.add.icon:active:before {
  background-position: -12px -288px;
}

/* line 296, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.remove.icon:before {
  background-position: 0 -60px;
}

/* line 299, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.remove.icon:hover:before,
.buttons.remove.icon:focus:before,
.buttons.remove.icon:active:before {
  background-position: -12px -60px;
}

/* line 301, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.log.icon:before {
  background-position: 0 -72px;
}

/* line 304, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.log.icon:hover:before,
.buttons.log.icon:focus:before,
.buttons.log.icon:active:before {
  background-position: -12px -72px;
}

/* line 306, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.calendar.icon:before {
  background-position: 0 -84px;
}

/* line 309, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.calendar.icon:hover:before,
.buttons.calendar.icon:focus:before,
.buttons.calendar.icon:active:before {
  background-position: -12px -84px;
}

/* line 311, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.chat.icon:before {
  background-position: 0 -96px;
}

/* line 314, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.chat.icon:hover:before,
.buttons.chat.icon:focus:before,
.buttons.chat.icon:active:before {
  background-position: -12px -96px;
}

/* line 316, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.clock.icon:before {
  background-position: 0 -108px;
}

/* line 319, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.clock.icon:hover:before,
.buttons.clock.icon:focus:before,
.buttons.clock.icon:active:before {
  background-position: -12px -108px;
}

/* line 321, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.settings.icon:before {
  background-position: 0 -120px;
}

/* line 324, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.settings.icon:hover:before,
.buttons.settings.icon:focus:before,
.buttons.settings.icon:active:before {
  background-position: -12px -120px;
}

/* line 326, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.comment.icon:before {
  background-position: 0 -132px;
}

/* line 329, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.comment.icon:hover:before,
.buttons.comment.icon:focus:before,
.buttons.comment.icon:active:before {
  background-position: -12px -132px;
}

/* line 331, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.fork.icon:before {
  background-position: 0 -144px;
}

/* line 334, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.fork.icon:hover:before,
.buttons.fork.icon:focus:before,
.buttons.fork.icon:active:before {
  background-position: -12px -144px;
}

/* line 336, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.like.icon:before {
  background-position: 0 -156px;
}

/* line 339, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.like.icon:hover:before,
.buttons.like.icon:focus:before,
.buttons.like.icon:active:before {
  background-position: -12px -156px;
}

/* line 341, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.favorite.icon:before {
  background-position: 0 -348px;
}

/* line 344, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.favorite.icon:hover:before,
.buttons.favorite.icon:focus:before,
.buttons.favorite.icon:active:before {
  background-position: -12px -348px;
}

/* line 346, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.home.icon:before {
  background-position: 0 -168px;
}

/* line 349, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.home.icon:hover:before,
.buttons.home.icon:focus:before,
.buttons.home.icon:active:before {
  background-position: -12px -168px;
}

/* line 351, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.key.icon:before {
  background-position: 0 -180px;
}

/* line 354, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.key.icon:hover:before,
.buttons.key.icon:focus:before,
.buttons.key.icon:active:before {
  background-position: -12px -180px;
}

/* line 356, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.lock.icon:before {
  background-position: 0 -192px;
}

/* line 359, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.lock.icon:hover:before,
.buttons.lock.icon:focus:before,
.buttons.lock.icon:active:before {
  background-position: -12px -192px;
}

/* line 361, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.unlock.icon:before {
  background-position: 0 -204px;
}

/* line 364, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.unlock.icon:hover:before,
.buttons.unlock.icon:focus:before,
.buttons.unlock.icon:active:before {
  background-position: -12px -204px;
}

/* line 366, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.loop.icon:before {
  background-position: 0 -216px;
}

/* line 369, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.loop.icon:hover:before,
.buttons.loop.icon:focus:before,
.buttons.loop.icon:active:before {
  background-position: -12px -216px;
}

/* line 371, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.search.icon:before {
  background-position: 0 -228px;
}

/* line 374, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.search.icon:hover:before,
.buttons.search.icon:focus:before,
.buttons.search.icon:active:before {
  background-position: -12px -228px;
}

/* line 376, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.mail.icon:before {
  background-position: 0 -240px;
}

/* line 379, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.mail.icon:hover:before,
.buttons.mail.icon:focus:before,
.buttons.mail.icon:active:before {
  background-position: -12px -240px;
}

/* line 381, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.move.icon:before {
  background-position: 0 -252px;
}

/* line 384, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.move.icon:hover:before,
.buttons.move.icon:focus:before,
.buttons.move.icon:active:before {
  background-position: -12px -252px;
}

/* line 386, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.edit.icon:before {
  background-position: 0 -264px;
}

/* line 389, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.edit.icon:hover:before,
.buttons.edit.icon:focus:before,
.buttons.edit.icon:active:before {
  background-position: -12px -264px;
}

/* line 391, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.pin.icon:before {
  background-position: 0 -276px;
}

/* line 394, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.pin.icon:hover:before,
.buttons.pin.icon:focus:before,
.buttons.pin.icon:active:before {
  background-position: -12px -276px;
}

/* line 396, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.reload.icon:before {
  background-position: 0 -300px;
}

/* line 399, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.reload.icon:hover:before,
.buttons.reload.icon:focus:before,
.buttons.reload.icon:active:before {
  background-position: -12px -300px;
}

/* line 401, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.rss.icon:before {
  background-position: 0 -312px;
}

/* line 404, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.rss.icon:hover:before,
.buttons.rss.icon:focus:before,
.buttons.rss.icon:active:before {
  background-position: -12px -312px;
}

/* line 406, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.tag.icon:before {
  background-position: 0 -324px;
}

/* line 409, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.tag.icon:hover:before,
.buttons.tag.icon:focus:before,
.buttons.tag.icon:active:before {
  background-position: -12px -324px;
}

/* line 411, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.trash.icon:before {
  background-position: 0 -336px;
}

/* line 414, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.trash.icon:hover:before,
.buttons.trash.icon:focus:before,
.buttons.trash.icon:active:before {
  background-position: -12px -336px;
}

/* line 416, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.user.icon:before {
  background-position: 0 -360px;
}

/* line 419, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.user.icon:hover:before,
.buttons.user.icon:focus:before,
.buttons.user.icon:active:before {
  background-position: -12px -360px;
}

/* ------------------------------------------------------------------------------------------------------------- BUTTON EXTENSIONS */
/* ............................................................................................................. Primary */
/* line 426, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.primary {
  font-weight: bold;
}

/* ............................................................................................................. Danger */
/* line 432, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.danger {
  color: #a80606;
}

/* line 438, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.danger:hover,
.buttons.danger:focus,
.buttons.danger:active {
  border-color: #a80606;
  border-bottom-color: #a80606;
  color: #fff;
  background-color: #a80606;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a80606), to(#a80606));
  background-image: -moz-linear-gradient(#a80606, #a80606);
  background-image: -o-linear-gradient(#a80606, #a80606);
  background-image: linear-gradient(#a80606, #a80606);
}

/* line 450, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.danger:active,
.buttons.danger.active {
  border-color: #A14141;
  border-bottom-color: #a80606;
  background-color: #a80606;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a80606), to(#a14141));
  background-image: -moz-linear-gradient(#a80606, #a14141);
  background-image: -o-linear-gradient(#a80606, #a14141);
  background-image: linear-gradient(#a80606, #a14141);
}

/* ........................................... Green */
/* line 465, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.green:hover,
.buttons.green:focus,
.buttons.green:active {
  border-color: #42c31f;
  border-bottom-color: #42c31f;
  color: #fff;
  background-color: #42c31f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42c31f), to(#42c31f));
  background-image: -moz-linear-gradient(#42c31f, #42c31f);
  background-image: -o-linear-gradient(#42c31f, #42c31f);
  background-image: linear-gradient(#42c31f, #42c31f);
}

/* ............................................................................................................. Pill */
/* line 478, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.pill {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

/* ............................................................................................................. Disable */
/* line 486, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.disable {
  opacity: 0.5;
}

/* ............................................................................................................. Big */
/* line 492, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.big {
  font-size: 16px;
}

/* line 496, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons.big.icon:before {
  top: 0;
}

/* ------------------------------------------------------------------------------------------------------------- BUTTON GROUPS */
/* ............................................................................................................. Standard */
/* line 503, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

/* line 516, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons + .buttons,
.buttons + .buttons-group,
.buttons-group + .buttons,
.buttons-group + .buttons-group {
  margin-left: 15px;
}

/* line 520, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group li {
  float: left;
  padding: 0;
  margin: 0;
}

/* line 526, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group .buttons {
  float: left;
  margin-left: -1px;
}

/* line 532, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group > .buttons:not(:first-child):not(:last-child),
.buttons-group li:not(:first-child):not(:last-child) .buttons {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 539, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group > .buttons:first-child,
.buttons-group li:first-child .buttons {
  margin-left: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 550, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group > .buttons:last-child,
.buttons-group li:last-child > .buttons {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ............................................................................................................. Minor */
/* line 561, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group.minor-group .buttons {
  border: 1px solid #d4d4d4;
  text-shadow: none;
  background-image: none;
  background-color: #fff;
}

/* line 570, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group.minor-group .buttons:hover,
.buttons-group.minor-group .buttons:focus,
.buttons-group.minor-group .buttons:active {
  background-color: #599bdc;
}

/* line 575, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group.minor-group .buttons:active,
.buttons-group.minor-group .buttons.active {
  background-color: #3072b3;
}

/* line 579, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-group.minor-group .buttons.icon:before {
  opacity: 0.8;
}

/* ------------------------------------------------------------------------------------------------------------- BUTTON CONTAINER */
/* For mixing buttons and button groups, e.g., in a navigation bar */
/* line 587, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.buttons-container .buttons,
.buttons-container .buttons-group {
  vertical-align: top;
}

/* line 591, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/buttons.css 2.scss */
.greenBg {
  background: #42c31f;
  color: #ffffff;
  text-shadow: 0px 1px 0px #000;
}
