/* line 12, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
body, .container-fluid, .header {
  min-width: 768px;
}

/* line 16, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#select-store-wrapper, #login-wrapper, #select_register_wrapper {
  display: none;
}

/* line 18, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.form-group.top-buffer {
  margin-top: 15px;
}

/* line 20, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#login_wrapper {
  margin-top: 10%;
}

/* line 22, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
div#select_register_wrapper h2 {
  padding: 10px;
  margin: 15px 0;
  background-color: #eee;
}

/* line 28, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.store-box {
  padding: 20px 0;
  text-align: center;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  margin-left: -1px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-top: -1px;
}

/* line 39, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.store-box h4 {
  font-size: 22px;
}

/* line 43, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.store-box p {
  text-transform: uppercase;
}

/* line 47, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.store-box .btn {
  width: 90%;
}

/* line 54, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#alertBoxBg {
  background-color: #000000;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

/* line 66, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#alertBox {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  box-shadow: 0px 0px 20px 5px #333;
  display: none;
  position: absolute;
  top: 50px;
  left: 1%;
  right: 1%;
  width: 500px;
  margin: 0 auto;
  z-index: 999991;
}
/* line 78, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#alertBox #alertContent {
  display: inline-block;
  width: 500px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 85, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#alertBox #closeAlert {
  float: right;
}

/* line 90, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#processingAlert {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  box-shadow: 0px 0px 20px 5px #333;
  display: none;
  position: absolute;
  top: 50px;
  left: 1%;
  right: 1%;
  width: 500px;
  margin: 0 auto;
  z-index: 999991;
}

/* line 108, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.login-panel {
  margin-top: 10%;
}

/* line 111, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
form {
  margin: 0;
}

/* line 112, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.form-margin {
  margin-bottom: 5px;
}

/* line 113, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.hideField {
  display: none;
}

/* line 115, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.btn-wide {
  width: 100%;
  margin: 5px 0;
}

/* line 117, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.input-group-btn .btn {
  height: 34px;
}

/* line 119, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.content-all {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 121, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#wrapper, .navbar-static-top {
  background-color: #eee;
  display: none;
  height: 100%;
}

/* line 123, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#page-wrapper {
  background-color: #fff;
  margin-right: 250px;
  padding: 55px 0 15px 0;
  height: 100%;
  padding-bottom: -40px;
  margin-left: -15px;
}

/* line 125, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.container-fluid {
  height: 100%;
}

/* line 127, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.page {
  width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  position: absolute;
  padding-right: 295px;
  padding-left: 15px;
  -webkit-animation: fadeout 0.6s;
  animation: fadeout 0.6s;
}

/* line 141, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .page {
  width: 235px;
  display: inline-block;
  padding-right: 0;
  padding-left: 0;
}

/* line 148, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.page.active {
  opacity: 1;
  z-index: 5;
  -webkit-animation: fadein 0.6s;
  animation: fadein 0.6s;
}

/* line 155, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .page.active {
  z-index: 7;
}

/* line 157, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav {
  width: 265px;
  padding: 15px;
  background-color: #eee;
}
/* line 161, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav h3 {
  font-size: 16px;
  margin: 0 0 8px 0;
}
/* line 162, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .right-mini-btn {
  background-color: #2d4250;
  padding: 3px 10px;
  height: auto;
  font-size: 13px;
}
/* line 163, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .btn-right-buffer {
  margin-top: 5px;
}
/* line 164, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .btn {
  background-color: #2d4250;
  font-size: 14px;
  padding: 6px 10px;
  height: auto;
  color: #fff;
  height: 34px;
}
/* line 172, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .btn-danger {
  background-color: #d9534f;
}
/* line 176, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .right_box {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  margin: 15px 0;
}
/* line 181, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .right_box .right_box_padding {
  padding: 10px;
}
/* line 184, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .right_box .input-group {
  margin-bottom: 10px;
}
/* line 192, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav #addCustomerBox .customerRegularBox {
  width: 48%;
  margin: 4px 1%;
  float: left;
}
/* line 197, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav #addCustomerBox .customerWideBox {
  width: 98%;
  margin: 4px 1%;
}
/* line 201, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav #addCustomerBox input {
  width: 100%;
}
/* line 204, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .order-total-table {
  margin: 0;
  padding: 0;
}
/* line 207, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .order-total-table td {
  border-top: 0 !important;
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
  padding: 5px 0 !important;
}
/* line 214, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .order-total-table .no-bottom-border td {
  border-bottom: 0 !important;
}
/* line 219, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .right-box-highlight {
  background-color: #2d4250;
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 20px;
  padding: 2px 0;
}
/* line 228, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .right-box-highlight > div {
  padding: 0px 10px !important;
}
/* line 230, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.sidebar-nav .payment_button {
  width: 94%;
  margin: 8px 3%;
  border-radius: 0;
  background: #449210;
}

/* line 239, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.btn-go {
  background-color: #449210;
  color: #fff;
}
/* line 239, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.btn-go:hover {
  background-color: #3b7f0d;
}

/* line 243, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.header {
  background-color: #2d4250;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 252, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.header a {
  color: #fff;
  height: 40px;
  padding: 10px 20px 0 20px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
/* line 259, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.header a:hover {
  background-color: #3f94cc;
  color: #fff;
  text-decoration: none;
}
/* line 264, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.header a.on {
  background-color: #3f94cc;
  color: #fff;
  text-decoration: none;
}

/* line 275, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.scan_box {
  width: 100%;
  background-color: #2d4250;
  color: #fff;
  border: 10px solid #eee;
  padding: 15px;
}
/* line 281, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.scan_box td {
  padding: 15px 5px;
}
/* line 284, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.scan_box font {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
  padding-top: 7px;
}
/* line 291, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.scan_box input#qty, table.scan_box input#returnQty {
  width: 81px;
  float: left;
}
/* line 295, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.scan_box input.add_button {
  width: 96%;
  /* margin-right: 5px; */
  display: block;
  background-color: #3f94cc;
  border: 0;
  float: left;
  padding: 6px 0px;
}

/* line 308, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table {
  border: 1px solid #cccccc;
  padding: 30px;
  font-size: 16px;
  margin: 20px auto;
}
/* line 313, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table td {
  padding: 10px;
}
/* line 316, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table label {
  padding: 20px 10px 0 0;
  font-weight: bold;
}
/* line 320, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table .amountField {
  height: 32px;
}
/* line 323, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table .cashButtons {
  width: 100%;
}
/* line 325, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table .cashButtons td {
  text-align: center;
}

/* line 331, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.cashButton {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.8em 1em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font: 14px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f1f1f1));
  background-image: -moz-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: -o-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: linear-gradient(#f4f4f4, #f1f1f1);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  zoom: 1;
}

/* line 359, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentWrapper {
  width: 650px;
  margin: 0 auto;
  padding: 0px;
  height: 350px;
}

/* line 366, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentSelection {
  width: 199px;
  float: left;
  background-color: #2d4250;
  display: inline-block;
  border-right: 0;
  height: inherit;
}

/* line 375, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentSelection .paymentTypeButton {
  width: 150px;
  margin: 10px;
}

/* line 380, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons {
  display: inline-block;
  width: 445px;
  float: left;
  border-left: 0;
  height: inherit;
}

/* line 388, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons .column {
  width: 50%;
  float: left;
}

/* line 393, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons .column .cashButton {
  width: 80%;
  margin: 0 10% 10px 10%;
}

/* line 398, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons .centButtons {
  width: 100%;
  border-top: 2px dashed #dfdfdf;
  display: inline-block;
  margin-top: 10px;
}

/* line 405, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons .centButton {
  height: 58px;
  width: 58px;
  text-align: center;
  border-radius: 95px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #eee;
  margin: 10px 24px;
}

/* line 416, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* line 422, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo h3 {
  font-size: 24px;
  margin: 8px 0;
}

/* line 427, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo .amountSection {
  padding: 8px 0;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

/* line 433, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo .amountSection {
  font-size: 17px;
  font-weight: bold;
}

/* line 438, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo .amountField {
  font-size: 16px;
}

/* line 442, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentOptionWrapper {
  width: 400px;
  padding: 0px;
  display: none;
}

/* line 447, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#paymentAreaRight .btn {
  text-align: left;
}

/* line 448, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#paymentAreaRight .fa {
  margin-right: 10px;
  float: left;
}

/* line 450, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.line_items {
  width: 100%;
}
/* line 452, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.line_items td {
  padding: 0px 10px 10px 10px;
  font-size: 14px;
}
/* line 456, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.line_items .register_line_items td {
  padding: 10px 10px;
  border-bottom: 1px solid #dfdfdf;
}

/* line 465, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#receiptWrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* line 469, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#receiptWrapper .receiptProductList {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* line 476, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#returnReceiptWrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* line 480, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#returnReceiptWrapper .returnReceiptProductList {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* line 487, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h {
  clear: both;
  padding: 0 30px;
  overflow: auto;
  height: 100px;
}

/* line 494, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h div {
  /*float: left;*/
  height: 100px;
  display: inline-block;
}

/* line 501, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .bar1 {
  border-left: 1px solid black;
}

/* line 502, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .bar2 {
  border-left: 2px solid black;
}

/* line 503, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .bar3 {
  border-left: 3px solid black;
}

/* line 504, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .bar4 {
  border-left: 4px solid black;
}

/* line 505, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .space0 {
  margin-right: 0px;
}

/* line 506, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .space1 {
  margin-right: 1px;
}

/* line 507, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .space2 {
  margin-right: 2px;
}

/* line 508, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .space3 {
  margin-right: 3px;
}

/* line 509, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.barcode128h .space4 {
  margin-right: 4px;
}

/* line 516, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.returnLineItemsWrapper {
  width: 100%;
  font-size: 14px;
}

/* line 521, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.returnLineItemsWrapper td {
  vertical-align: top;
}

/* line 525, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.return_line_items {
  font-size: 15px;
  width: 100%;
}

/* line 530, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.return_line_items td {
  padding: 7px 5px;
  border-bottom: 1px solid #ddd;
}

/* line 535, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
td.origionalLineItemsWrapper {
  background-color: #2d4250;
  color: #fff;
}

/* line 540, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
td.origionalLineItemsWrapper td {
  color: #fff;
  padding: 6px;
}

/* line 545, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
td.origionalLineItemsWrapper td {
  color: #fff;
  padding: 6px;
  border-top: 1px solid #ddd;
}

/* line 551, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.headingOLI td {
  border-top: 0px;
}

/* line 557, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.register_options_table {
  width: 800px;
  margin: 20px auto;
  font-size: 14px;
  border: 10px solid #3f94cc;
}
/* line 562, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.register_options_table a {
  margin-bottom: 10px;
  font-size: 15px;
}

/* line 568, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.remove_cash_table {
  font-size: 16px;
  background-color: #2d4250;
  text-align: center;
  color: #ffffff;
}

/* line 575, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
table.tillInputs {
  width: 100%;
}

/* line 578, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.till_table {
  margin: 20px auto 20px auto;
  max-width: 90%;
  width: 90%;
  border: 10px solid #ccc;
  background-color: #ffffff;
}
/* line 584, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.till_table td {
  padding: 5px;
}
/* line 587, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.till_table .till-label {
  max-width: 50%;
}
/* line 588, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.till_table .till_heading {
  background-color: #449210;
  color: #ffffff;
  padding: 0 10px;
  margin: 0;
}
/* line 593, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.till_table .till_heading h2 {
  font-size: 25px;
  margin: 0;
  padding: 10px;
}
/* line 599, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.till_table h3 {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
/* line 605, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.till_table .tillInputs input {
  width: 80px;
  font-size: 16px;
  float: right;
}
/* line 610, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.till_table .auditTillBottom {
  background-color: #ddd;
}

/* line 615, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.info-bar {
  width: 100%;
  display: inline-block;
  background-color: #eee;
  margin: -15px 0 15px 0;
  padding: 5px 0;
}

/* line 623, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.info-bar b {
  float: left;
  margin-right: 0;
  width: 12.5%;
  text-align: right;
  padding-right: 4px;
}

/* line 624, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.info-bar p {
  float: left;
  margin-right: 0;
  margin-bottom: 0;
  width: 12.5%;
  padding-left: 4px;
}

@media screen and (max-height: 599px) {
  /* line 630, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .sidebar-nav .right_box {
    margin: 10px 0;
  }

  /* line 631, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .sidebar-nav .btn {
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;
  }

  /* line 632, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .form-control, .input-group-btn .btn {
    height: 30px;
  }

  /* line 633, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .sidebar-nav h3 {
    font-size: 15px;
    margin-bottom: 6px;
  }

  /* line 634, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .sidebar-nav .order-total-table td {
    padding: 4px 0 !important;
    font-size: 13px;
  }

  /* line 635, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .sidebar-nav .right-box-highlight {
    font-size: 18px;
  }
}
@media screen and (max-width: 1249px) {
  /* line 643, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .sidebar-nav {
    width: 230px;
    padding: 10px;
  }

  /* line 644, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  #page-wrapper {
    margin-right: 215px;
  }

  /* line 645, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .sidebar-nav .btn, table.line_items .register_line_items td {
    padding-left: 7px;
    padding-right: 7px;
  }

  /* line 646, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .form-control, .sidebar-nav .order-total-table td, table.line_items td {
    font-size: 13px;
  }

  /* line 647, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .sidebar-nav .right-box-highlight {
    font-size: 18px;
  }

  /* line 648, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  .btn {
    padding-left: 9px;
    padding-right: 9px;
  }
}
/* CSS Animations */
@keyframes fadein {
  /* line 657, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 0;
  }

  /* line 657, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* line 658, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 0;
  }

  /* line 658, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* line 659, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 0;
  }

  /* line 659, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  /* line 660, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 0;
  }

  /* line 660, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* line 661, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 0;
  }

  /* line 661, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  /* line 663, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 1;
  }

  /* line 663, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  /* line 664, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 1;
  }

  /* line 664, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  /* line 665, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 1;
  }

  /* line 665, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 0;
  }
}

@-ms-keyframes fadeout {
  /* line 666, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 1;
  }

  /* line 666, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeout {
  /* line 667, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  from {
    opacity: 1;
  }

  /* line 667, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
  to {
    opacity: 0;
  }
}
