/* line 1, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
.cancel_sale {
  width: 93px;
}

/* line 5, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
#store_box {
  float: left;
  width: 214px;
  padding: 15px;
  background-color: #f1f1f1;
  color: #000;
  text-align: center;
  border: 1px solid #ccc;
  margin: 10px;
}
/* line 14, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
#store_box .button {
  width: 100%;
  padding: 10px 0;
  border: 0;
  background-color: green;
  color: #ffffff;
}

/* line 25, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
#login_wrapper_wide h1, #login_wrapper_wide h2 {
  color: #000000;
}

/* line 30, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
.register_box {
  float: left;
  width: 214px;
  padding: 15px;
  background-color: #f1f1f1;
  color: #000;
  text-align: center;
  border: 1px solid #ccc;
  margin: 10px;
}
/* line 39, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
.register_box .button {
  width: 100%;
  padding: 10px 0;
  border: 0;
  background-color: green;
  color: #ffffff;
}

/* line 48, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
.till_table {
  margin: 10px auto 20px auto;
  max-width: 785px;
  width: 100%;
  border: 10px solid #eeeeee;
  background-color: #ffffff;
}
/* line 54, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
.till_table .till_heading {
  background-color: #2d4250;
  color: #ffffff;
}

/* line 60, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
.returnCreditPaymentCard {
  width: 300px;
  margin: 10px;
  background-color: #eeeeee;
  padding: 20px;
  border: 1px solid #dddddd;
}
/* line 66, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
.returnCreditPaymentCard h3 {
  font-size: 17px;
  margin: 0 0 10px 0;
}
/* line 70, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
.returnCreditPaymentCard input[type="button"] {
  margin: 10px 0 0 0;
  display: inline-block;
  padding: 10px;
  width: 100%;
}

@media print {
  /* line 83, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  table {
    width: 100%;
  }

  /* line 84, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .hideOnReceipt {
    display: none;
  }

  /* line 85, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #top_bar {
    display: none;
  }

  /* line 86, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #mainHeader {
    display: none;
  }

  /* line 87, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #subHeader {
    display: none;
  }

  /* line 88, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .layoutRight {
    display: none;
  }

  /* line 89, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #paymentArea {
    display: none;
  }

  /* line 90, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #paymentAreaRight {
    display: none;
  }

  /* line 91, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #cashRegisterSection {
    display: none;
  }

  /* line 92, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #posArea {
    display: none;
  }

  /* line 93, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #posAreaRight {
    display: none;
  }

  /* line 94, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #returnArea {
    display: none;
  }

  /* line 95, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #returnAreaRight {
    display: none;
  }

  /* line 96, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #itemSearch {
    display: none;
  }

  /* line 97, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #timesheetSection {
    display: none;
  }

  /* line 98, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #register_info {
    display: none;
  }

  /* line 99, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #barcode {
    display: block;
  }

  /* CSS Barcode Generator */
  /* line 101, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  #receiptWrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  /* line 106, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .receiptProductList {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  /* line 111, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h {
    clear: both;
    padding: 0 30px;
    overflow: auto;
    height: 100px;
  }

  /* line 117, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h div {
    /*float: left;*/
    height: 100px;
    display: inline-block;
  }

  /* line 122, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .bar1 {
    border-left: 1px solid black;
  }

  /* line 123, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .bar2 {
    border-left: 2px solid black;
  }

  /* line 124, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .bar3 {
    border-left: 3px solid black;
  }

  /* line 125, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .bar4 {
    border-left: 4px solid black;
  }

  /* line 126, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .space0 {
    margin-right: 0px;
  }

  /* line 127, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .space1 {
    margin-right: 1px;
  }

  /* line 128, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .space2 {
    margin-right: 2px;
  }

  /* line 129, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .space3 {
    margin-right: 3px;
  }

  /* line 130, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
  .barcode128h .space4 {
    margin-right: 4px;
  }
}
/* line 132, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/winter.css.scss */
#my_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  z-index: 4000;
  overflow: hidden;
}
