<div class="row shadded-bg" style="padding:10px;">
	<% if @vendors.count > 0 %>
		<%= form_tag(:action => 'create_po') do %>
			<div class="col-sm-6 text-right" style="padding:6px 0 0 0;">
				<label>Select A Vendor:</label> <%= collection_select(:vendor, :id, @vendors, :id, :name, :prompt => true, :class => 'form-control') %>
			</div>
			<div class="col-sm-6">
				<%= submit_tag("Create PO", :class => 'btn btn-primary', :style=>'margin-left:20px;')%>
			</div>
		<% end %>
	<% else %>
		<div class="col-sm-12 text-center">No Vendors Found</div>
	<% end %>
</div>