<div style="width:880px;margin:0 ;">
<h2>Accept Credit Cards</h2>
<div style="width:410px;margin:0 20px 0 0px;float:left;">
Accepting credit and debit cards from your customers is vital to running a successful business. That is why Evendra has teamed up with Electronic Payment Inc. (EPI), a leader in payment processing solutions, to provide you with an affordable and fully integrated system. With EPI, you can process card directly through the Evendra point of sale interface with no additional hardware required. To accept swiped transactions simply plug in a USB credit card reader to you computer, and you ready to accept payments from your customers.</div>
<div style="width:410px;margin:0 20px 0 0px;float:left;">
We have developed three different plans to best suit your business. Our starter plan is great for weekend warriors and those who process cards only occasionally. Merchants who run full time business will find our Entrepreneur plan's lower processing fee's will be the best fit financially. For business who process more than $20,000 per month in sales, our Corporate plan will lower your company's bottom line with rock bottom rates.</div>

<div class="cardWrapper" style="display:inline-block;">
	<div class="cardRate">
		<div class="planName">
			<h3>Start Up</h3>
			$5/MONTH
		</div>
		<div class="planPricing">
			<p><strong>Discount Rate:</strong> +0.50%</p>
			<p><strong>Transaction Fee:</strong> +$0.25</p>
		</div>
		<div class="getStartedButton">
			<a href="/admin/merchant_account_apply?plan=starter">Get Started</a>
		</div>
	</div>
	<div class="cardRate cardRateCenter">
		<div class="planName">
			<h3>Entrepreneur</h3>
			$15/MONTH
		</div>
		<div class="planPricing">
			<p><strong>Discount Rate:</strong> +0.15%</p>
			<p><strong>Transaction Fee:</strong> +$0.15</p>
		</div>
		<div class="getStartedButton">
			<a href="/admin/merchant_account_apply?plan=entrepreneur">Get Started</a>
		</div>
	</div>
	<div class="cardRate">
		<div class="planName">
			<h3>Corporate</h3>
			$30/MONTH
		</div>
		<div class="planPricing">
			<p><strong>Discount Rate:</strong> +0.05%</p>
			<p><strong>Transaction Fee:</strong> +$0.05</p>
		</div>
		<div class="getStartedButton">
			<a href="/admin/merchant_account_apply?plan=corporate">Get Started</a>
		</div>
	</div>
	<div class="processMore">
		Process over $40,000 in sales per month or small ticket (less than $10)? <a href="mailto:support@evendra.com">Contact us</a> for special pricing.
	</div>
	<div class="merchantDisclaimer">
		Evendra POS, LLC. is a registered agent office of Electronic Payments, Inc.<br>
		Electronic Payments, Inc. is a Registered ISO/MSP for Wells Fargo Bank N.A., Walnut Creek, CA - Member FDIC
	</div>
</div>
</div>