<div id="login_wrapper_wide">
	<h1>Welcome to Evendra!</h1>
	You have successfully created your account. Please write down the following information and keep it in a safe place:<br><br>
	
	<strong>Company ID: </strong> <%= @company.id %><br>
	<strong>Username: </strong> <%= Employee.find(session[:user]['employee_id']).username %><br><br>
	
	<h3 style="color:#cd0000;">Important Read Carefully!</h3>
	Before you can start selling items with your new point of sale system, there are a few things you must do to complete your account. You must add a store / warehouse location, add a register to this location, add products to your inventory, and sign up for credit card processing (optional).<br><br>
	
	
	<strong>Add a store location</strong><br>
	To begin you must have a store or warehouse location. You can create one via <a href="/admin/add_store/" target="_blank">create a store</a>.<br><br>
	
	<strong>Add a register</strong><br>
	Now that we have created a store location, we can add a register. To do this <a href="/admin/stores" target="_blank">select a store</a>, this click the "Add Register" button on the right side. Simply give your register a name so you can easily identify it.<br><br>
	
	<strong>Add products</strong><br>
	The last required step before you can begin selling is adding your products. You can do this under the inventory tab in the admin panel. Hover over the "inventory" tab and select <a href="/admin/add_inventory" target="_blank">Add Inventory</a> from the drop down menu.<br><br>
	
	<strong>Credit Card Processing (optional)</strong><br>
	Evendra provides integrated credit card processing through our partnership with Electronic Payments Inc. EPI is a world class trusted credit card processor based in New York. With EPI you can accept swiped credit card transactions with the use of an inexpensive USB credit card reader which can be purchased on Amazon or other internet websites. You also have the ability to manually process cards and easily refund cards without the hassle of an additional credit card machine. For more information or to sign up for EPI visit the <a href="/admin/merchant_services" target="_blank">Credit Card Processing page</a>.
	
</div>

<script type="text/javascript">
	
	$(function(){
		
		localStorage.setItem('dbProducts', '[]');
		localStorage.setItem('dbOrderReturns', '[]');
		localStorage.setItem('dbTimesheets', '[]');
		localStorage.setItem('dbCoupons', '[]');
		localStorage.setItem('dbTills', '[]');
		localStorage.setItem('dbOrders', '[]');
		
		currentSale=null;
		currentReturn=null;
		pages=null;
		itemButtons=null;
		currentPage=null;
		globalCompanyToken=null; localStorage.setItem('company_token', '');
		globalCompanyID=null; localStorage.setItem('company_id', '');
		globalCompanyName=null; localStorage.setItem('company_name', '');
		globalEmployeeId=null; localStorage.setItem('employee_id', '');
		globalEmployeeName=null; localStorage.setItem('employee_name', '');
		globalRegisterId=null; localStorage.setItem('register_id', '');
		globalRegisterName=null; localStorage.setItem('register_name', '');
		globalStoreAddress=null; localStorage.setItem('store_address', '');
		globalStoreId=null; localStorage.setItem('store_id', '');
		globalStoreName=null; localStorage.setItem('store_name', '');
		globalGateway=null; localStorage.setItem('store_gateway', '');
		globalTaxRate=null; localStorage.setItem('tax_rate', '');
		globalStores=null; localStorage.setItem('all_stores', '');
		globalRegisters=null; localStorage.setItem('all_registers', '');
		globalCurrencyCode = null; localStorage.setItem('currency_code', '');
		localStorage.setItem('currentPage', '');
		localStorage.setItem('register_status', '');
		localStorage.setItem('till', '');
		
	});
	
	
</script>