<!-- Payment Screen -->
<div id="paymentAreaRight" class="padding10">
	<div style="margin-left:10px;"><a onClick="exitPaymentScreen()" class="buttons danger icon arrowleft cancel_sale" />Back To Sale</a></div>
	<div class="right_box">
		<div class="right_box_padding">
			<a class="btn btn-wide bt-primary" onclick="setPaymentType('cashPaymentBox');"><i class="fa fa-money"></i> Cash</a>
			<a class="btn btn-wide bt-primary" onclick="setPaymentType('creditCardPaymentBox');"><i class="fa fa-credit-card"></i> Credit Card</a>
			<a class="btn btn-wide bt-primary" onclick="setPaymentType('giftCardPaymentBox');"><i class="fa fa-gift"></i> Gift Card</a>
			<a class="btn btn-wide bt-primary" onclick="setPaymentType('checkPaymentBox');"><i class="fa fa-university"></i> Check</a>
		</div>
	</div>
</div>