<div class="row">
	<div class="col-sm-12">
		<input type="button" value="Back To Register" onclick="showPage('#cashRegisterPage');" class="btn btn-wide">
		<input type="button" value="Re-Print Receipt" onclick="window.print();" class="btn btn-wide">
	</div>
</div>