<div class="right_box">
	<div class="right-box-highlight">
		<div class="col-sm-6">Amount</div>
		<div class="col-sm-6 return-due text-right"></div>
	</div>
</div>

<div class="right_box">
	<div class="right_box_padding">
		<a class="btn btn-wide bt-primary" onclick="showReturnPaymentMethod('cash');">
			<i class="fa fa-money"></i> Cash
		</a>
		<a class="btn btn-wide bt-primary" onclick="showReturnPaymentMethod('credit_card');">
			<i class="fa fa-credit-card"></i> Credit Card
		</a>
	</div>
</div>