<table class="table">
	<tr>
		<td colspan="4"><h2>Suspended Sales</h2></td>
	</tr>
	<tr>
		<th>Date</th>
		<th>Customer</th>
		<th>Items</th>
		<th>Select</th>
	</tr>
	<tbody id="suspendedSaleList"></tbody>
</table>