<form>
	<div class="right_box">
		
		<div class="right-box-highlight">
			<div class="col-sm-12">Clock In/Out</div>
		</div>
		
		<div class="right_box_padding">
			<div class="row">
				<div class="col-sm-12">
					<div class="input-group">
						<span class="input-group-addon">Username</span>
						<input type="text" id="timeclockUsername" class="form-control">
					</div>
				</div>
				<div class="col-sm-12">
					<div class="input-group">
						<span class="input-group-addon">Password</span>
						<input type="text" id="timeclockPassword" class="form-control">
					</div>
				</div>
			</div>
			<input type="button" value="Punch Timecard" onclick="punchTimeCard();" class="btn btn-go btn-wide">
		</div>
	</div>
</form>