<div class="row">
	<div class="col-sm-12">
		<div class="btn-group">
			<input type="button" value="To Returns" onclick="showPage('returnsPage');" class="btn btn-primary btn-sm">
			<input type="button" value="Re-Print Receipt" onclick="window.print();" class="btn btn-primary btn-sm">
		</div>
	</div>
</div>