<form class="top-buffer">
	<div class="right_box">
    	<h2 class="greenHeading text-center">Clocking in/out</h2>
    	<p class="right_box_padding">Enter you username and password to the left to clock in and clock out.</p>
	</div>
</form>