<html>
	<head>
	
	</head>
	<body bgcolor="#eeeeee">
		<div style="width:560px;padding:10px;margin: 20px auto;background-color:#ffffff;color:#000000;border-radius:15px;border:1px solid #eeeeee;">
			<h1>Welcome to Evendra!</h1>
			You have successfully created your account. Please write down the following information and keep it in a safe place:<br><br>
	
			<strong>Company ID: </strong> <%= @company_id %><br>
			<strong>Username: </strong> <%= @username %><br><br>
	
			<h3 style="color:#cd0000;">Important Ready Carefully!</h3>
			Before you can start selling items with your new point of sale, there are a few things you must do to complete your account. You must add a store / warehouse location, add a register to this location, add products to your inventory, and sign up for credit card processing (optional).<br><br>
	
			<strong>Add a store location</strong><br>
			To begin you must have a store or warehouse location. You can create one via <a href="https://shop.evendra.com/admin/add_store/" target="_blank">create a store</a>.<br><br>
	
			<strong>Add a register</strong><br>
			Now that we have created a tore location, we can add a register. To do this <a href="https://shop.evendra.com/admin/all_stores" target="_blank">select a store</a>, this click the "Add Register" button on the right side. simply give your register a name so you can easily identify it.<br><br>
	
			<strong>Add products</strong><br>
			The last required step before you can begin selling is adding your products. You can do this under the inventory tab in the admin panel. Hover over the "inventory" tab and select <a href="https://shop.evendra.com/admin/add_inventory" target="_blank">Add Inventory</a> from the drop down menu.<br><br>
	
			<strong>Credit Card Processing (optional)</strong><br>
			Evendra provides integrated credit card processing through our partnership with PayLeap. PayLeap is a world class trusted credit card processor based in Atlanta, Ga. With PayLeap you can accept swiped credit card transactions with the use of an inexpensive USB credit card reader which can be purchased on Amazon or other internet websites. You also have the ability to manually process cards and easily refund cards without the hassle of an additional credit card machine. For more information or to sign up for PayLeap visit the <a href="https://shop.evendra.com/admin/credit_card_processing" target="_blank">Credit Card Processing page</a>.
		</div>
	</body>
</html>