// Colors

$blue: #2d4250;

// Body

html, body{height: 100%;}

body{
	font-size:10px; // This is for global rem
}

#overlay{
	position:absolute;
	z-index:1000000;
	width:100%;
	height:100%;
	background-color: $blue;
	display:table;
	&.remove{
		-webkit-transform: translate3d(0,-100%,0);
	    transform: translate3d(0,-100%,0);
		-webkit-transition: 1.1s ease;
	    		transition: 1.1s ease;
	}
	h1{
		color:#fff;
		display:table-cell;
		vertical-align:middle;
		text-align:center;
		font-size:7.2rem;
	}
}

#content-all{
	font-size:1.4rem;
	position:relative;
	z-index:1;
}

.greenHeading{font-size: 20px;}

// Resets

.table{
	
	th{ background-color:#eee; }
}


// Buffers

.top-buffer{ margin-top: 15px; }
.bottom-buffer{ margin-bottom: 15px; }

// Login Section

#login-wrapper{
	display:none;
	&.active{
		display:block;
	}
	
	.login-panel{
		margin-top:10%;
	}
	
}

#select-store-wrapper{
	display:none;
	width:100%;
	padding:0 1.5rem;
	
	h1{padding:1.5rem;margin:0;}
	
	&.active{display:block;}
}

#select_register_wrapper{display:none;&.active{display:block;}}

.store-box{
	padding:1.5rem;
	text-align:center;
	border:0.1rem solid #ddd;
	margin:-0.1rem 0 0 -0.1rem;
	font-size:1.3rem;
	h4{}
	p{font-size:1.3rem;}
}

// Alerts

#alertBoxBg{display:none;}

#alertBox{display:none;}

#processingAlert{display:none;}


// Containers
#pos-wrapper{display:none;background-color: #eee;&.active{display:block;}}

.container-fluid{padding:0;} 

// Header

.header{
	background-color: $blue;
	height: 4rem;
	position: absolute;
	top: 0;
	width: 100%;
	margin:0;
	z-index:10;
	a{
		color: #fff;
		height: 4rem;
		padding: 1rem 2rem 0 2rem;
		display: inline-block;
		cursor: pointer;
		vertical-align: middle;
		font-size:1.4rem;
		&.on{
			background-color: #3f94cc;
			color: #fff;
			text-decoration: none;
		}
		&:hover{
			background-color: #3f94cc;
			color: #fff;
			text-decoration: none;
		}
		&.active{
			background-color: #eee;
			color: $blue;
		}
	}
}

#page-wrapper {
	background-color: #fff;
	margin-right: 27.5rem;
	padding: 5.5rem 0 1.5rem 0;
	height: 100%;
	padding-bottom: -4rem;
	.info-bar {
		width: 100%;
		display: inline-block;
		background-color: #eee;
		margin: -1.5rem 0 1.5rem 0;
		padding: 0.5rem 0 0 0;
		position:relative;
		z-index:3;
		.col-sm-3{padding:0;text-align:center;font-size:1.3rem;
			b{padding-top:0.3rem;}
			b, p{display:block;margin:0;}
			p{padding:0 0 0.6rem 0;}
		}
	}
	
}


#right-bar {
    width: 275px;
    height: 100%;
    float: right;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: 0;
	.page{
		width:27.5rem;
		padding:0 1.5rem;
		margin:0;
		top:5rem;
		background-color:#eee;
	}
	.btn {
		background-color: #2d4250;
		font-size: 1.4rem;
		padding: 0.4rem 1rem;
		height: auto;
		color: #fff;
		height: 3rem;
		
	}
	.btn-go{ height:3.4rem; }
	.btn-success{ background-color: #449d44; }
	.btn-danger {
		background-color: #d9534f;
		&:hover{
			color:#fff;
			background-color:#c9302c;
			border-color:#ac2925
		}
	}
	.btn-wide{ width: 100%; }
	.right_box {
		background-color: #fff;
		display: inline-block;
		width: 100%;
		margin: 1rem 0;
		font-size: 1.3rem;
		.right_box_padding { padding: 1rem; }
		h3{
			margin:0 0 0.8rem 0;
			padding:0;
			font-size:1.6rem;
		}
	}
	.right-box-highlight {
		background-color: #2d4250;
		display: inline-block;
		width: 100%;
		color: #fff;
		font-size: 2rem;
		padding: 0.2rem 0;
	}
	.order-total-table { 
		margin: 0; padding: 0; 
		td {
			border-top: 0 !important;
			border-bottom: 0.1rem solid #dfdfdf;
			font-size: 1.4rem;
			padding: 0.5rem 0 !important;
		}
	}
	
	.payment_button {
		width: 94%;
		margin: 0.8rem 3%;
		border-radius: 0;
		background-color: #5cb85c;
		border-color: #4cae4c;
		padding:1rem 0;
		height:auto;
		&:hover{
			color:#fff;background-color:#449d44;border-color:#398439
		}
	}
	
	#addCustomerBox{
		display:none;
		.customerRegularBox { width: 48%; margin: 4px 1%; float: left; }
		.customerWideBox { width: 98%; margin: 4px 1%; }
		input {	width: 100%;  }
	}
	#add-new-customer-btn{
		margin:0.8rem 0 0 0;
	}
}

.page{
	width: 100%;
	margin: 0;
	padding: 1.5rem 0 0 0;
	width: 100%;
	display:none;
	//opacity: 0;
	z-index: 1;
	top: 9.5rem;
	position: absolute;
	padding-right: 29.5rem;
	padding-left: 1.5rem;
	//-webkit-animation: fadeout 0.6s;
	//animation: fadeout 0.6s;
	&.active{
		//opacity: 1;
		z-index: 5;
		display:block;
		//-webkit-animation: fadein 0.6s;
		//animation: fadein 0.6s;
	}
}

// Since page display is not none, lets prevent us for clicking buttons on hidden ones
.blocking-page{width:100%;height:100%;position:absolute;z-index:2;background-color:#fff;  top: 0;  padding-right: 275px;display:none !important;}
.sidebar-nav .blocking-page{padding:0;width:275px;  background-color: #eee;}

#content-modul{
	background-color: #ffffff;
	padding: 2rem;
	box-shadow: 0px 0px 2rem 0.5rem #333;
	position: absolute;
	left: 1%;
	right: 1%;
	width: 60rem;
	margin: 0 auto;
	z-index: 999991;
	-webkit-transform: translate3d(0,-130%,0);
    transform: translate3d(0,-130%,0);
	-webkit-transition: 0.6s ease;
    		transition: 0.6s ease;
	.controls{
		border-top:1px solid #ddd;
		padding-top:2rem !important;
		margin-top:2rem !important;
	}
	#new-customer{
		display:none;
		h2{margin:0 0 1rem 0;}
		.row{padding:0.5rem 0;}
	}
	&.active{
		-webkit-transform: translate3d(0,3rem,0);
		transform: translate3d(0rem,3rem,0rem);
		-webkit-transition: 0.6s ease;
	    		transition: 0.6s ease;
	}
}



// Register Page

	#posArea{
		width:100%;
	}

	#itemSearch{
		width:100%;
		display:none;
	}

	form{margin:0;padding:0;}
	
	.scan_box{
		width: 100%;
		background-color: #2d4250;
		color: #fff;
		border: 1rem solid #eee;
		padding: 1.5rem;
		font-size: 1.7rem;
		td{
			padding:1.2rem 1rem;
		}
		.scan-td{ width:15rem; }
		.qty-text-td{ width:7rem; text-align:right; }
		.qty-field-td{ width:8rem; }
		.submit-td{ width:10rem; }
	}
	
	.line_items{
		background-color:#eee;
		width:100%;
		td{
			padding: 0rem 1rem 1rem 1rem;
			font-size: 1.4rem;
		}
		#register_line_items td {
			padding: 1rem 1rem;
			border-bottom: 0.1rem solid #dfdfdf;
			background-color:#fff;
		}
	}
	
	#receiptAreaRight{display:none;}


// Animations
/* CSS Animations */
@keyframes fadein {
  from { opacity: 0;z-index:1; }to{ opacity: 1;z-index:5; }
}

@-moz-keyframes fadein {
  from { opacity: 0;z-index:1; }to{ opacity: 1;z-index:5; }
}

@-webkit-keyframes fadein {
  from { opacity: 0;z-index:1; }to{ opacity: 1;z-index:5; }
}

@-ms-keyframes fadein {
  from { opacity: 0;z-index:1; }to{ opacity: 1;z-index:5; }
}

@-o-keyframes fadein {
  from { opacity: 0;z-index:1; }to{ opacity: 1;z-index:5; }
}

@keyframes fadeout {
  from { opacity: 1;z-index:5; }to{ opacity: 0;z-index:1; }
}

@-moz-keyframes fadeout {
  from { opacity: 1;z-index:5; }to{ opacity: 0;z-index:1; }
}

@-webkit-keyframes fadeout {
 from { opacity: 1;z-index:5; }to{ opacity: 0;z-index:1; }
}

@-ms-keyframes fadeout {
  from { opacity: 1;z-index:5; }to{ opacity: 0;z-index:1; }
}

@-o-keyframes fadeout {
  from { opacity: 1;z-index:5; }to{ opacity: 0;z-index:1; }
}


// Alerts

#alertBoxBg {
  background-color: #000000;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

/* line 66, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#alertBox {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  box-shadow: 0px 0px 20px 5px #333;
  display: none;
  position: absolute;
  top: 50px;
  left: 1%;
  right: 1%;
  width: 500px;
  margin: 0 auto;
  z-index: 999991;
}
/* line 78, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#alertBox #alertContent {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
  font-size:1.4rem;
}
/* line 85, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#alertBox #closeAlert {
  float: right;
}

/* line 90, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#processingAlert {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  box-shadow: 0px 0px 20px 5px #333;
  display: none;
  position: absolute;
  top: 50px;
  left: 1%;
  right: 1%;
  width: 500px;
  margin: 0 auto;
  z-index: 999991;
}






// Payment section needs updating
.payment_table {
  border: 1px solid #cccccc;
  padding: 30px;
  font-size: 16px;
  margin: 20px auto;
}
/* line 312, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table td {
  padding: 10px;
}
/* line 315, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table label {
  padding: 20px 10px 0 0;
  font-weight: bold;
}
/* line 319, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table .amountField {
  height: 32px;
}
/* line 322, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table .cashButtons {
  width: 100%;
}
/* line 324, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.payment_table .cashButtons td {
  text-align: center;
}

/* line 330, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.cashButton {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.8em 1em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font: 14px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f1f1f1));
  background-image: -moz-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: -o-linear-gradient(#f4f4f4, #f1f1f1);
  background-image: linear-gradient(#f4f4f4, #f1f1f1);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  zoom: 1;
}

/* line 358, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentWrapper {
  width: 650px;
  margin: 0 auto;
  padding: 0px;
  height: 350px;
}

/* line 365, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentSelection {
  width: 199px;
  float: left;
  background-color: #2d4250;
  display: inline-block;
  border-right: 0;
  height: inherit;
}

/* line 374, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentSelection .paymentTypeButton {
  width: 150px;
  margin: 10px;
}

/* line 379, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons {
  display: inline-block;
  width: 445px;
  float: left;
  border-left: 0;
  height: inherit;
}

/* line 387, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons .column {
  width: 50%;
  float: left;
}

/* line 392, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons .column .cashButton {
  width: 80%;
  margin: 0 10% 10px 10%;
}

/* line 397, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons .centButtons {
  width: 100%;
  border-top: 2px dashed #dfdfdf;
  display: inline-block;
  margin-top: 10px;
}

/* line 404, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.newPaymentButtons .centButton {
  height: 58px;
  width: 58px;
  text-align: center;
  border-radius: 95px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #eee;
  margin: 10px 24px;
}

/* line 415, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* line 421, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo h3 {
  font-size: 24px;
  margin: 8px 0;
}

/* line 426, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo .amountSection {
  padding: 8px 0;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

/* line 432, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo .amountSection {
  font-size: 17px;
  font-weight: bold;
}

/* line 437, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentInfo .amountField {
  font-size: 16px;
}

/* line 441, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
.paymentOptionWrapper {
  width: 400px;
  padding: 0px;
  display: none;
}

/* line 446, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#paymentAreaRight .btn {
	text-align: left;
	width: 100%;
	margin:0.5rem 0;
	padding:0.5rem 1rem;
	height:auto;
	font-size:1.5rem;
}

/* line 447, /Users/steffan/Dropbox/Sites/Blizzard/app/assets/stylesheets/pos.css.scss */
#paymentAreaRight .fa {
	margin-right: 1rem;
	float: left;
	font-size: 1.6rem;
	padding-top: 0.3rem;
}

.payment-box-wrapper{
	display:none;
	&.active{display:block;}
}







#receiptWrapper h1, #receiptWrapper p{text-align:center;}

.receiptProductList{
    width:100%;
    font-size:1.5rem;
}

.receiptProductList td {
  padding-right: 0.8rem;
  vertical-align:top;
}

.receiptProductList td strong{
  padding:0 0 1rem 0;
  display:block;
}

#innerReceiptProductList td{
  padding:1rem 0;
}

.receiptProductList .divider{
  border-top:0.1rem solid #000;
  padding:1rem 0 0 0;
}





// Options

.option-box{
	padding:15px;
	text-align:center;
	height:240px;
	color:#555;
	p{ margin:0; }
	.btn{ width:100%; }
	ul{ list-style:none;margin:10px 0 0 0;padding:0; }
	h4{  background-color: #eee; padding: 5px 0; }
}

.color-row{ background-color: $blue; padding:15px 0; }

td.till-label {
  min-width: 120px;
  font-size: 1.6rem;
  padding-top: 15px;
}


// Returns

#return_items_wrapper .return_line_items_wrapper{
    width:100%;
}

#return_items_wrapper .return_line_items_wrapper .return_line_items{
    width:100%;
}

#return_items_wrapper .return_line_items td{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.3rem;
    border-bottom:1px solid #ddd;
}

#return_items_wrapper .return_line_items td.line_heading{
    font-size: 1.4rem;
     padding: 0rem 1rem 1rem 1rem;
     border-bottom:0;
}

#return_items_wrapper.original_sale .return_line_items_wrapper{
    width:56%;
    float:left;
}

#return_items_wrapper .origional_line_items_wrapper{ display:none; }

#return_items_wrapper.original_sale .origional_line_items_wrapper{ width:44%; float:left; display:block; background-color:#ddd; }

#return_items_wrapper.original_sale .origional_line_items_wrapper td{
    text-align:center;
    border-bottom:1px solid #fff;
    padding:0.5rem 0;
    font-size:1.2rem;
}

#return_items_wrapper.original_sale .origional_line_items_wrapper td .btn{
    float:right;
    margin-right:0.5rem;
}


#return_items_wrapper.original_sale .origional_line_items_wrapper .headingOLI td{
    font-size: 1.4rem;
     padding: 0rem 1rem 1rem 1rem;
     border-bottom:0;
     background-color: #eee;
     text-align:center;
}

// Timesheet
	
	#timesheet-wrapper{
		#timesheet-login{ display: block; }
		#timesheet-result{ display: none; }
		&.active{
			#timesheet-login{ display: none; }
			#timesheet-result{ display: block; }
		}
	}

// Barcode


.barcode128h  {
    clear: both;
    padding: 0 3rem /*quiet zone*/;
    overflow: auto;
    height: 10rem   /*size*/;
}
.barcode128h div {
    /*float: left;*/
    height: 10rem  /*size*/;
    display: inline-block;
}
.barcode128h .bar1 { border-left: 0.1rem solid black }
.barcode128h .bar2 { border-left: 0.2rem solid black }
.barcode128h .bar3 { border-left: 0.3rem solid black }
.barcode128h .bar4 { border-left: 0.4rem solid black }
.barcode128h .space0 { margin-right: 0.0rem }
.barcode128h .space1 { margin-right: 0.1rem }
.barcode128h .space2 { margin-right: 0.2rem }
.barcode128h .space3 { margin-right: 0.3rem }
.barcode128h .space4 { margin-right: 0.4rem }
